.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: auto;
  font-family: 'Ubuntu';
  text-shadow: 5px 1px #232931;
  font-size: 5rem;
  color: #4ecc8f;
}

p {
  font-size: 2rem;
  color: #4ec8cc;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}


footer {
  margin-top: 5%;
  color: #fff;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}